.navigation-wrapper{
    background-color: white;
    display: flex;
    /* background-color: chocolate; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    justify-content: space-between;
}

.navigation-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}


.navigation-links a{
    text-decoration: none;
    color: black;
}

.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
    display: none;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

@media (max-width : 850px){
    .nav-btn {
        display: block;
		visibility: visible;
		opacity: 1;
	}
    .navigation-links{
        position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: white;
		transition: 0.25s;
        z-index: 9999;
    }

    .responsive-nav {
		transform: translateY(100vh);
	}
    .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
}