.form-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.form-wrapper form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}